#header{
    background-color: white;
    color: #66CCFF;
    text-align: center;
}


#signup {
    background-color: white;
    color: #66CCFF;
    text-align: center;
}

#user {
    background-color: white;
    font-size: 30px;
    color: black;
    padding: 5px;
}

#pass {
    background-color: white;
    font-size: 30px;
    color: black;
    padding: 5px;
}

body {
    /*background*/
    /*background-image: url('sheeps_background.jpg');*/
    /*background-repeat: repeat-x,repeat-y;*/
}

html {
    height: 100%;
}


input[type="password"], input[type="text"] {
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 35px;
    margin: 31px 0 0 29px;
    transition: box-shadow 0.3s;
    width: 240px;
    padding: 3px;
}


input[type="submit"] {
    width: 240px;
    height: 35px;
    display: block;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #37a69b;
    padding-top: 6px;
    margin: 29px 0 0 29px;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: #37a69b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}



